.download-button {
  color: #272727;
  transition: background 0.2s;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 8px;
  padding: 3px;
}

.download-button:hover {
  background: rgba(150, 150, 150, 0.2);
}
