.card-container-holder {
  width: 200px;
  height: 290px;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.8em;
  margin-top: 0.3em; 
  perspective: 1100px;
}

.card-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor:pointer;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(29, 29, 29, 0.2);
  transition: box-shadow 0.3s, transform 0.5s;
}

.card-container.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  border: solid 3px;
  border-color: black;
  background: #5C3D2E;
  color: #E0C097;
}

.front-card-container {
  z-index: 1;
  transform: rotateY(0deg);
}

.back-card-container {
  transform: rotateY(180deg);
}

.card-container:hover {
  height: 100;
  box-shadow: 0 0 20px #2D2424;
}

.card-container .alert-bar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  /* border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px; */
  border-color: black;
}

.card-container .alert-bar.danger {
  background: #FF554A;
  color: #5C3D2E;
  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card-container .alert-bar.warning1 {
  background: #ff9e4a;
  color: #5C3D2E;
  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card-container .alert-bar.warning2 {
  background: #FFC74A;
  color: #5C3D2E;
  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card-container .alert-bar.normal {
  background: #4aff70;
  color: #5C3D2E;
  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card-container .alert-bar.disabled {
  background: #fcf0f0;
  color: #5C3D2E;
  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card-container .alert-bar.expired {
  background: #333333;
}

.card-container .content {
  width: 100%;
  height: 70%;
  position: fixed;
  padding: 0px 18px;
}

.card-container .nama {
  margin-top: 8px;
  padding: 2px;
  text-align: center;
}

.card-container .content-depan {
  width: 100%;
  height: 70%;
  position: fixed;
  top: 90px;
  padding: 0px 18px;
}

.card-container .content h1 {
  text-align: center;
}

.card-container .content h2 {
  text-align: center;
}

.card-container .content p {
  text-align: center;
  margin: -0.4em;

}

.card-container .card-face h1 {
  cursor: pointer;
}

.card-container .card-face .time-label {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10px;
  font-size: smaller;
}

.card-container .card-face .time-label-back {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
  font-size: smaller;
}

.card-container .card-face .button {
  width: 35px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 8px 0 8px 0;
}

.card-container .alert-bar .edit {
  position: absolute;
  width: 35px;
  height: 25px;
  left: 0px;
  top: 12.5px;
  border-radius: 0px 8px 8px 0px;
}

.card-container .alert-bar .delete {
  position: absolute;
  width: 35px;
  height: 25px;
  right: 0px;
  top: 13px;
  border-radius: 8px 0px 0px 8px;

}

.card-container .card-face .empty {
  width: 35px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  left: 0em;
  border-radius: 0 8px 0 8px;

}

.card-container .content-depan .sensor-info {
  display:flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  margin: 18px auto;
}

.sensor-statistics-table {
  position: fixed;
  top: 100px;
  /* align-items: center;
  align-self: center;
  align-content: center; */
  left: 50%;
  /* margin-top: 0.5em; */
  transform: translateX(-50%);
}

.sensor-unit-col {
  text-align: left;
}

.sensor-data-col {
  text-align: center;
  padding: 4px;
}
