nav{
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  /* padding: 1rem 2rem; */
  z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  background: #B85C38;
  border: solid black;
  border-top: 0px;
  border-radius:0px 0px 8px 8px;
}

.add {
  position: absolute;
  right: 9em;
  top: 1.2em;
  align-content: center;
  color: #2D2424;
}

.add:hover {
  background: rgba(80, 80, 80, 0.2);
  border-radius: 8px;
  cursor: pointer;
  /* padding: 10px 0px; */
}

.clock-container {
  position: absolute;
  right:3em;
  align-self:center;
}

.clock-container:hover {
  background: rgba(80, 80, 80, 0.2);
  border-radius: 8px;
  padding: 10px 0px;
  color: #2D2424;
}

.link:hover {
  background: rgba(80, 80, 80, 0.2);
  border-radius: 8px;
  padding: 10px 0px;
}

.link {
  text-decoration: none;
  display: flex;
  color: #2D2424;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  height: 100%;
  cursor: pointer;
}
.mobile-menu-icon {
  display: none;
}
.icons {
  display: flex;
  align-items: center;
  padding-left: 10em;
}
.icon-tabler {
  margin-right: 5px;
}

.github-icon {
  color: white;
}

.menu-items {
  display: flex;
  align-items: center;
  margin-left: -2em;
}

@media screen and (max-width: 768px) {
  .menu-items,
  .signup-button,
  .github-corner {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
    color: #2D2424;
    display: flex;
    align-items: center;
    font-size: 4vh;
    cursor: pointer;
    top: 0;
    right: 0;
    padding-right: 0.3em;
  }
}

.github-corner {
  position: fixed;
  top: 0;
  z-index: 99999;
  right: 0px;
}