.monitor-container {
  width: 100%;
  padding: 0.7em;
}

.monitor-container .beds-container {
  width: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.add {
  /* --_viewport-margin: 3vmin;
  position: fixed;
  z-index: var(--layer-1);

  inset-block: auto var(--_viewport-margin);
  inset-inline: auto var(--_viewport-margin); */
  z-index: 998;
  position: absolute;
  top: 1.1em;
  right: 9.5em;
}

.add-icon {
  padding: -4px;
  margin-bottom: -5px;
  margin-top: -1px;
  margin-right: -1px;
  margin-left: -1px;
}